*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #edeffe;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 2rem;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1rem;
}
header > img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem 2rem 2rem;
}
nav ul{
    list-style: none;
    text-align: center;
    padding: 0;
    background-color: #b53434;
    border-radius: 12px;
}
nav li{
    display: inline-block;
    padding:1rem;
}
a:link{
    font-size: 2rem;
    text-decoration: none;
    color:black;
    font-style: strong;
}
a:hover{
    color: #edeffe;
}
a:visited{
    color: none;
}
section{
    display: flex;
}
article{
    flex:1;
    padding: 2rem;
}
section > article:hover{
    background-color: rgba(238, 206, 206,0.5);
    color: black;
    text-shadow: none;
}
.others-section > article{
    background-color: rgba(238, 206, 206, 0.5);
    border-radius: 12px;
    margin: 1rem;
}
.background-section{
    background-image: url(image0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    padding: 2rem;
    margin:1rem;
    color: rgb(252, 241, 241);
    text-align:left;
    text-shadow: 2px 2px 4px #000000;
}
.section-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
}
@media (max-width: 768px){
    body{
    margin: 0;
    padding: 0;
    }
    section{
        flex-direction: column;
    }
    article{
        padding: 1rem;
    }
}
footer{
    display: flex;
}
footer > div{
    flex:1;
    border-top: solid;
    padding: 1rem;
}
footer > img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    align-self: top;
}
p{
    text-align: justify;
}
.copyright > p{
    text-align: right;
    font-style: italic;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeout {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  article, ul, li{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-out forwards;
  }
  .others-section > article{
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeout 1s ease-out forwards;
  }
  .others-section > article:hover{
    opacity: 1;
    animation: fadeout;
  }